<!DOCTYPE html>
<html>
<head>
	<title>TUGAS KKPI</title>

<link rel="sytlesheet" type="text/css" href="Haerina.R Tugas CSS.css">
	<style>
body {
  background-color: lightblue;
}
h1 {
  color: white;
  text-align: center;
}
p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>
	<h1 style="color:brown">Tentang Saya</h1>
	<h2 style="color:blue">Biodata</h2>
	    <h3>Nama: Haerina Ramadhania
	    <h3>TTL: Ciamis, 13 Desember 2001
	    <h3>Alamat: Jl. Kuripan rt 05/07 Ciseeng, Bogor.
	    <h3>Hobi: Berpetualang
	    <h3>Cita-Cita: Analis, Pengacara, Intel.
	 <h2 style="color:blue">Sekolah</h2>
	     <p>Saya bersekolah di <a href="http://www.smakbo.sch.id"target="_blank"> SMK-SMAK Bogor </a> Kesan selama menjadi murid SMAKBO, yaitu Alhamdulillah. Cukup berat, tapi harus di jalani dengan ikhlas dan penuh semangat. 
	    	
</body>
</html>
